.home-page {
    background-image: url('../assets/img/fondo.svg');
    background-size: 2000px ;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%; 
    height: 100vh; 
    display: flex;

    
}
.containes-perfiles{
    position: absolute;
    background-color: #F2E4D8;
    width: 100%; 
    height: 200vh;
    margin-top:44%;
    display: flex;
    justify-content: center;
    z-index: -10
    ;


}
.title-perfiles{
    margin-top: 10%;
    color: #102754;
}

.cards_perfiles{
    display: flex;
    justify-content: center;
    gap: 140px;
    margin-top: 15%;
}
.title-home{
    position: relative;
    margin-top: 20px;
    margin-left: 40px;

}