.container-fluid{
    background-color: white;
    font-size: 25px;
    padding: 0, 40px; 
    display: flex;
    justify-content: start;
    align-items: center;
    
    justify-content: space-between;
    align-items: flex-end;
    
}
.logo{
    margin-bottom: 20px;
    margin-top: 20px;
}

.material-icons{
    margin-left: 30px;
    margin-bottom: 40px;

}
